-m markdown
-M redcarpet
--title "GroupWare"
--protected
--tag 'override:Overridden Method'
--plugin junk
config/**/*.rb
lib/**/*.rb
mod/**/*.rb
spec/support/**/*.rb
-
README.md
DESIGN.md
CHANGELOG.md
